.hero-lookbook-container .hero-lookbook-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-lookbook {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-lookbook h1,
.hero-lookbook h2,
.hero-lookbook h3,
.hero-lookbook h4,
.hero-lookbook h5,
.hero-lookbook h6,
.hero-lookbook p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-lookbook.no-image * {
  color: var(--text-color);
}

.hero-lookbook picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-lookbook img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-lookbook {
    padding: 40px 32px;
  }
}