.hero-v18intro-container .hero-v18intro-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-v18intro {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-v18intro h1,
.hero-v18intro h2,
.hero-v18intro h3,
.hero-v18intro h4,
.hero-v18intro h5,
.hero-v18intro h6,
.hero-v18intro p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-v18intro.no-image * {
  color: var(--text-color);
}

.hero-v18intro picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-v18intro img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-v18intro {
    padding: 40px 32px;
  }
}
